body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

.dialog {
  width: 300px;
  padding: 20px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.sizedBox{
  height: 5vh;
}

/* Các quy tắc CSS khác... */
